USE [master]
GO
/****** Object:  Database [p6g4]    Script Date: 08/06/2016 01:21:18 ******/
CREATE DATABASE [p6g4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p6g4', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\p6g4.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'p6g4_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\p6g4_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p6g4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p6g4]
GO
/****** Object:  User [test]    Script Date: 08/06/2016 01:21:18 ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [p6g4]    Script Date: 08/06/2016 01:21:18 ******/
CREATE USER [p6g4] FOR LOGIN [p6g4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p6g4]
GO
/****** Object:  Schema [PROJECT]    Script Date: 08/06/2016 01:21:18 ******/
CREATE SCHEMA [PROJECT]
GO
/****** Object:  StoredProcedure [PROJECT].[INSERT_AUTOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[INSERT_AUTOR] @COD_AUTOR INT,@ID_PESSOA INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO PROJECT.AUTOR VALUES(@COD_AUTOR, @ID_PESSOA);
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [PROJECT].[INSERT_BIBLIOTECARIO]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[INSERT_BIBLIOTECARIO] @COD_BIBLIOTECARIO INT,@ID_PESSOA INT, @COD_BIB INT,@SALARY AS DECIMAL(10,2), @USERNAME VARCHAR(10), @PASS VARCHAR(15)
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO PROJECT.BIBLIOTECARIO VALUES( @COD_BIBLIOTECARIO, @ID_PESSOA , @COD_BIB,@SALARY,@USERNAME, @PASS);
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [PROJECT].[INSERT_LEITOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[INSERT_LEITOR] @COD_LEITOR INT,@ID_PESSOA INT,@USERNAME VARCHAR(10), @PASS VARCHAR(15), 
						  @DATA_EXP DATE, @DATA_REG DATE, @COD_BIB INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO PROJECT.LEITOR VALUES( @COD_LEITOR,@ID_PESSOA, @USERNAME , @PASS, @DATA_EXP , @DATA_REG, @COD_BIB);
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [PROJECT].[INSERT_PESSOA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[INSERT_PESSOA] @ID_PESSOA INT, @PN VARCHAR(70),@UN VARCHAR(70), @MORADA VARCHAR(50), @GENERO CHAR(1),@DATA_NASC DATE, @TLM INT, @CC INT,  @NIF INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO PROJECT.PESSOA VALUES(@ID_PESSOA, @PN, @UN, @MORADA, @GENERO, @DATA_NASC, @TLM, @CC,@NIF);
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [PROJECT].[UPDATE_AUTOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[UPDATE_AUTOR] @ID_PESSOA INT, @COD_AUTOR INT,@PN VARCHAR(70),@UN VARCHAR(70), @MORADA VARCHAR(50),
						 @GENERO CHAR(1),@DATA_NASC DATE, @TLM INT, @CC INT,  @NIF INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		UPDATE PROJECT.AUTOR SET ID_PESSOA=@ID_PESSOA
		WHERE PROJECT.AUTOR.COD_AUTOR=@COD_AUTOR;
		UPDATE PROJECT.PESSOA SET PRIMEIRO_NOME=@PN, ULTIMO_NOME=@UN, CC=@CC, NIF=@NIF, MORADA=@MORADA, GENERO=@GENERO, TLM=@TLM, DATA_NASC=@DATA_NASC 
		WHERE PROJECT.PESSOA.ID_PESSOA=@ID_PESSOA;
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END


GO
/****** Object:  StoredProcedure [PROJECT].[UPDATE_BIBLIOTECARIO]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[UPDATE_BIBLIOTECARIO] @ID_PESSOA INT, @COD_BIBLIOTECARIO INT, @COD_BIB INT,@USERNAME VARCHAR(10), @PASS VARCHAR(15),@SALARY AS DECIMAL(10,2),
						         @PN VARCHAR(70),@UN VARCHAR(70), @MORADA VARCHAR(50), @GENERO CHAR(1),@DATA_NASC DATE, @TLM INT, @CC INT,  @NIF INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		UPDATE PROJECT.BIBLIOTECARIO SET ID_PESSOA=@ID_PESSOA, USERNAME=@USERNAME, PASS=@PASS, COD_BIB=@COD_BIB, SALARY=@SALARY 
		WHERE PROJECT.BIBLIOTECARIO.COD_BIBLIOTECARIO=@COD_BIBLIOTECARIO;
		UPDATE PROJECT.PESSOA SET PRIMEIRO_NOME=@PN, ULTIMO_NOME=@UN, CC=@CC, NIF=@NIF, MORADA=@MORADA, GENERO=@GENERO, TLM=@TLM, DATA_NASC=@DATA_NASC 
		WHERE PROJECT.PESSOA.ID_PESSOA=@ID_PESSOA;
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END



GO
/****** Object:  StoredProcedure [PROJECT].[UPDATE_LEITOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [PROJECT].[UPDATE_LEITOR] @ID_PESSOA INT, @COD_LEITOR INT, @COD_BIB INT,@USERNAME VARCHAR(10), @PASS VARCHAR(15), 
						  @DATA_EXP DATE, @DATA_REG DATE, @PN VARCHAR(70),@UN VARCHAR(70), @MORADA VARCHAR(50), 
						  @GENERO CHAR(1),@DATA_NASC DATE, @TLM INT, @CC INT,  @NIF INT
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		UPDATE PROJECT.LEITOR SET ID_PESSOA=@ID_PESSOA, USERNAME=@USERNAME, PASS=@PASS, DATA_EXPIRO=@DATA_EXP, DATA_REGISTO=@DATA_REG, COD_BIB=@COD_BIB 
		WHERE PROJECT.LEITOR.COD_LEITOR=@COD_LEITOR;
		UPDATE PROJECT.PESSOA SET PRIMEIRO_NOME=@PN, ULTIMO_NOME=@UN, CC=@CC, NIF=@NIF, MORADA=@MORADA, GENERO=@GENERO, TLM=@TLM, DATA_NASC=@DATA_NASC 
		WHERE PROJECT.PESSOA.ID_PESSOA=@ID_PESSOA;
	END TRY

	BEGIN CATCH
		SELECT 
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;
	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END

GO
/****** Object:  UserDefinedFunction [PROJECT].[GETDOM]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PROJECT].[GETDOM] (@mrc Date) RETURNS VARCHAR(10)
AS
	BEGIN
		DECLARE @DOM VARCHAR(10)			
		SET @DOM = (Select DATENAME(dw, (@mrc)))
	RETURN @DOM
END

GO
/****** Object:  UserDefinedFunction [PROJECT].[GETPERMISSION]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PROJECT].[GETPERMISSION] (@book_id INT) RETURNS BIT
AS
	BEGIN
		DECLARE @perm BIT			
		SELECT @perm=PERMISSAO FROM PROJECT.ITEM_PAPEL WHERE COD_ITEM_PAPEL=@book_id
	RETURN @perm
END

GO
/****** Object:  UserDefinedFunction [PROJECT].[REQ_PESSOA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PROJECT].[REQ_PESSOA] (@ID INT) RETURNS INT
AS
	BEGIN
		DECLARE @NR_REQ_PAPEL INT			
		DECLARE @NR_REQ_ELECT INT
		SELECT @NR_REQ_PAPEL = count(*) 
		FROM PROJECT.REQUISICAO_ITEM_PAPEL
		WHERE PROJECT.REQUISICAO_ITEM_PAPEL.COD_LEITOR=@ID

		SELECT @NR_REQ_ELECT = count(*) 
		FROM PROJECT.REQUISICAO_ITEM_ELECT
		WHERE PROJECT.REQUISICAO_ITEM_ELECT.COD_LEITOR=@ID
		
	RETURN @NR_REQ_PAPEL+@NR_REQ_ELECT
END

GO
/****** Object:  UserDefinedFunction [PROJECT].[TotalMoney]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PROJECT].[TotalMoney]() RETURNS Decimal(10,2)
AS
	BEGIN
		DECLARE @total Decimal(10,2)
		SELECT @total = sum(MULTA) 
		FROM PROJECT.REQUISICAO_ITEM_PAPEL
		
	RETURN @TOTAL
END

GO
/****** Object:  Table [PROJECT].[AUTOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECT].[AUTOR](
	[COD_AUTOR] [int] NOT NULL,
	[ID_PESSOA] [int] NULL,
 CONSTRAINT [PKAUTOR] PRIMARY KEY CLUSTERED 
(
	[COD_AUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PROJECT].[BIBLIOTECA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[BIBLIOTECA](
	[COD_BIB] [int] NOT NULL,
	[NOME] [varchar](70) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
 CONSTRAINT [PKBIBLIOTECA] PRIMARY KEY CLUSTERED 
(
	[COD_BIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[BIBLIOTECARIO]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[BIBLIOTECARIO](
	[COD_BIBLIOTECARIO] [int] NOT NULL,
	[ID_PESSOA] [int] NULL,
	[COD_BIB] [int] NULL,
	[SALARY] [decimal](6, 2) NOT NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[PASS] [varchar](15) NOT NULL,
 CONSTRAINT [PKBIBLIOTECARIO] PRIMARY KEY CLUSTERED 
(
	[COD_BIBLIOTECARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[CATEGORIA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[CATEGORIA](
	[COD_CATEGORIA] [int] NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
 CONSTRAINT [PKCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[COD_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[EDITORA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[EDITORA](
	[COD_EDITORA] [int] NOT NULL,
	[NOME] [varchar](70) NOT NULL,
	[ENDERECO] [varchar](50) NULL,
	[TELEFONE] [int] NULL,
 CONSTRAINT [PKEDITORA] PRIMARY KEY CLUSTERED 
(
	[COD_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[FABRICANTE]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[FABRICANTE](
	[COD_FABRICANTE] [int] NOT NULL,
	[FABRICANTE] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NULL,
	[TELEFONE] [int] NULL,
 CONSTRAINT [PKFABRICANTE] PRIMARY KEY CLUSTERED 
(
	[COD_FABRICANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[ITEM_ELECTRONICA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECT].[ITEM_ELECTRONICA](
	[COD_ITEM_ELECT] [int] NOT NULL,
	[COD_BIB] [int] NULL,
	[COD_TIPO] [int] NULL,
	[COD_FABRICANTE] [int] NULL,
 CONSTRAINT [PKITEM_ELECT] PRIMARY KEY CLUSTERED 
(
	[COD_ITEM_ELECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PROJECT].[ITEM_PAPEL]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[ITEM_PAPEL](
	[COD_ITEM_PAPEL] [int] NOT NULL,
	[COD_BIB] [int] NULL,
	[COD_TIPO] [int] NULL,
	[COD_CATEGORIA] [int] NULL,
	[COD_EDITORA] [int] NULL,
	[TITULO] [varchar](100) NOT NULL,
	[EDICAO] [int] NOT NULL,
	[IDIOMA] [varchar](10) NOT NULL,
	[DIMENSOES] [varchar](12) NULL,
	[PERMISSAO] [bit] NOT NULL,
	[VOLUME] [int] NULL,
	[DATA_PUB] [date] NULL,
	[CLASSIFICACAO] [int] NULL,
	[DESCRICAO] [varchar](250) NULL,
	[COTA] [int] NOT NULL,
 CONSTRAINT [PKITEM_PAPEL] PRIMARY KEY CLUSTERED 
(
	[COD_ITEM_PAPEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[ITEM_PAPEL_AUTOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECT].[ITEM_PAPEL_AUTOR](
	[COD_ITEM_PAPEL] [int] NOT NULL,
	[COD_AUTOR] [int] NOT NULL,
 CONSTRAINT [PKITEM_PAPEL_AUTOR] PRIMARY KEY CLUSTERED 
(
	[COD_ITEM_PAPEL] ASC,
	[COD_AUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PROJECT].[LEITOR]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[LEITOR](
	[COD_LEITOR] [int] NOT NULL,
	[ID_PESSOA] [int] NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[PASS] [varchar](15) NOT NULL,
	[DATA_EXPIRO] [date] NOT NULL,
	[DATA_REGISTO] [date] NOT NULL,
	[COD_BIB] [int] NULL,
 CONSTRAINT [PKLEITOR] PRIMARY KEY CLUSTERED 
(
	[COD_LEITOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[PESSOA]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[PESSOA](
	[ID_PESSOA] [int] NOT NULL,
	[PRIMEIRO_NOME] [varchar](70) NOT NULL,
	[ULTIMO_NOME] [varchar](70) NULL,
	[MORADA] [varchar](50) NOT NULL,
	[GENERO] [char](1) NULL,
	[DATA_NASC] [date] NULL,
	[TLM] [int] NULL,
	[CC] [int] NULL,
	[NIF] [int] NULL,
 CONSTRAINT [PKPESSOA] PRIMARY KEY CLUSTERED 
(
	[ID_PESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROJECT].[REQUISICAO_ITEM_ELECT]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECT].[REQUISICAO_ITEM_ELECT](
	[COD_REQUISICAO] [int] NOT NULL,
	[COD_ITEM_ELECT] [int] NULL,
	[COD_LEITOR] [int] NULL,
	[MARCACAO] [date] NULL,
	[DURACAO] [int] NULL,
	[INICIO] [time](7) NULL,
 CONSTRAINT [PKREQUISICAO_ITEM_ELECT] PRIMARY KEY CLUSTERED 
(
	[COD_REQUISICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PROJECT].[REQUISICAO_ITEM_PAPEL]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL](
	[COD_ITEM_PAPEL] [int] NULL,
	[COD_LEITOR] [int] NULL,
	[COD_REQUISICAO] [int] NOT NULL,
	[DATA_REQUISICAO] [date] NULL,
	[DT_EN_REAL] [date] NULL,
	[DT_EN_PREVISTA] [date] NULL,
	[MULTA] [decimal](5, 2) NULL,
 CONSTRAINT [PKREQUISICAO_ITEM_PAPEL] PRIMARY KEY CLUSTERED 
(
	[COD_REQUISICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PROJECT].[TIPO]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROJECT].[TIPO](
	[COD_TIPO] [int] NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PKTIPO] PRIMARY KEY CLUSTERED 
(
	[COD_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [PROJECT].[GETFREEPEOPLE]    Script Date: 08/06/2016 01:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PROJECT].[GETFREEPEOPLE]() 
RETURNS TABLE
AS
	RETURN
	(Select PROJECT.PESSOA.ID_PESSOA,PROJECT.PESSOA.PRIMEIRO_NOME, PROJECT.PESSOA.ULTIMO_NOME,PROJECT.PESSOA.MORADA, PROJECT.PESSOA.GENERO,  
	PROJECT.PESSOA.DATA_NASC, PROJECT.PESSOA.TLM, PROJECT.PESSOA.CC, PROJECT.PESSOA.NIF
FROM PROJECT.PESSOA LEFT JOIN PROJECT.LEITOR ON PROJECT.PESSOA.ID_PESSOA=PROJECT.LEITOR.ID_PESSOA 
		LEFT JOIN PROJECT.BIBLIOTECARIO ON PROJECT.PESSOA.ID_PESSOA=PROJECT.BIBLIOTECARIO.ID_PESSOA
		LEFT JOIN PROJECT.AUTOR ON PROJECT.PESSOA.ID_PESSOA=PROJECT.AUTOR.ID_PESSOA
		WHERE PROJECT.LEITOR.USERNAME is NULL and PROJECT.BIBLIOTECARIO.SALARY is NULL and PROJECT.AUTOR.COD_AUTOR is Null)

GO
INSERT [PROJECT].[AUTOR] ([COD_AUTOR], [ID_PESSOA]) VALUES (106851922, 924924066)
INSERT [PROJECT].[AUTOR] ([COD_AUTOR], [ID_PESSOA]) VALUES (143168977, 145659490)
INSERT [PROJECT].[AUTOR] ([COD_AUTOR], [ID_PESSOA]) VALUES (164344875, 420398320)
INSERT [PROJECT].[BIBLIOTECA] ([COD_BIB], [NOME], [ENDERECO]) VALUES (459567487, N'Shufflester', N'26970 Morningstar Hill')
INSERT [PROJECT].[BIBLIOTECA] ([COD_BIB], [NOME], [ENDERECO]) VALUES (489839364, N'Meejo', N'9 Maryland Park')
INSERT [PROJECT].[BIBLIOTECARIO] ([COD_BIBLIOTECARIO], [ID_PESSOA], [COD_BIB], [SALARY], [USERNAME], [PASS]) VALUES (114931833, 846057983, 459567487, CAST(1412.47 AS Decimal(6, 2)), N'jbrooks9', N'xf38XYak')
INSERT [PROJECT].[BIBLIOTECARIO] ([COD_BIBLIOTECARIO], [ID_PESSOA], [COD_BIB], [SALARY], [USERNAME], [PASS]) VALUES (156531779, 188068612, 489839364, CAST(1086.14 AS Decimal(6, 2)), N'kwatsonj', N'Otzjw2nMn')
INSERT [PROJECT].[BIBLIOTECARIO] ([COD_BIBLIOTECARIO], [ID_PESSOA], [COD_BIB], [SALARY], [USERNAME], [PASS]) VALUES (174767727, 360365593, 489839364, CAST(1427.14 AS Decimal(6, 2)), N'pkellyc', N'8nMsGlU')
INSERT [PROJECT].[CATEGORIA] ([COD_CATEGORIA], [CATEGORIA]) VALUES (122913963, N'Comedia')
INSERT [PROJECT].[CATEGORIA] ([COD_CATEGORIA], [CATEGORIA]) VALUES (161046158, N'Suspense')
INSERT [PROJECT].[CATEGORIA] ([COD_CATEGORIA], [CATEGORIA]) VALUES (183127204, N'Dança')
INSERT [PROJECT].[EDITORA] ([COD_EDITORA], [NOME], [ENDERECO], [TELEFONE]) VALUES (167943717, N'Eayo', N'0 Melrose Circle', 332219077)
INSERT [PROJECT].[EDITORA] ([COD_EDITORA], [NOME], [ENDERECO], [TELEFONE]) VALUES (177309404, N'Ntags', N'9 Vahlen Alley', 113737065)
INSERT [PROJECT].[EDITORA] ([COD_EDITORA], [NOME], [ENDERECO], [TELEFONE]) VALUES (182524111, N'Vitz', N'70108 Warrior Crossing', 325270136)
INSERT [PROJECT].[FABRICANTE] ([COD_FABRICANTE], [FABRICANTE], [ENDERECO], [TELEFONE]) VALUES (174590652, N'Skinte', N'15250 Charing Cross Circle', 470994336)
INSERT [PROJECT].[FABRICANTE] ([COD_FABRICANTE], [FABRICANTE], [ENDERECO], [TELEFONE]) VALUES (194385028, N'Cogilith', N'61 Anderson Alley', 444527084)
INSERT [PROJECT].[FABRICANTE] ([COD_FABRICANTE], [FABRICANTE], [ENDERECO], [TELEFONE]) VALUES (215556991, N'Lazz', N'65990 Arizona Pass', 989828303)
INSERT [PROJECT].[ITEM_ELECTRONICA] ([COD_ITEM_ELECT], [COD_BIB], [COD_TIPO], [COD_FABRICANTE]) VALUES (111641958, 459567487, 148959750, 174590652)
INSERT [PROJECT].[ITEM_ELECTRONICA] ([COD_ITEM_ELECT], [COD_BIB], [COD_TIPO], [COD_FABRICANTE]) VALUES (111826740, 489839364, 137127978, 902224226)
INSERT [PROJECT].[ITEM_ELECTRONICA] ([COD_ITEM_ELECT], [COD_BIB], [COD_TIPO], [COD_FABRICANTE]) VALUES (114244766, 489839364, 148959750, 367811486)
INSERT [PROJECT].[ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_BIB], [COD_TIPO], [COD_CATEGORIA], [COD_EDITORA], [TITULO], [EDICAO], [IDIOMA], [DIMENSOES], [PERMISSAO], [VOLUME], [DATA_PUB], [CLASSIFICACAO], [DESCRICAO], [COTA]) VALUES (103433106, 459567487, 532711178, 955805865, 167943717, N'Proin risus.', 607, N'Danish', N'45', 1, 906, CAST(0x24540A00 AS Date), 1, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus.', 865)
INSERT [PROJECT].[ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_BIB], [COD_TIPO], [COD_CATEGORIA], [COD_EDITORA], [TITULO], [EDICAO], [IDIOMA], [DIMENSOES], [PERMISSAO], [VOLUME], [DATA_PUB], [CLASSIFICACAO], [DESCRICAO], [COTA]) VALUES (138621256, 459567487, 659995103, 596761513, 282214846, N'Sed vel enim sit amet nunc viverra dapibus.', 807, N'Dutch', N'43', 1, 346, CAST(0xA0390B00 AS Date), 2, N'Pellentesque ultrices mattis odio.', 323)
INSERT [PROJECT].[ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_BIB], [COD_TIPO], [COD_CATEGORIA], [COD_EDITORA], [TITULO], [EDICAO], [IDIOMA], [DIMENSOES], [PERMISSAO], [VOLUME], [DATA_PUB], [CLASSIFICACAO], [DESCRICAO], [COTA]) VALUES (148179869, 459567487, 764917029, 996867209, 332595421, N'Nulla mollis molestie lorem.', 204, N'Punjabi', N'84', 1, 238, CAST(0xAB890A00 AS Date), 7, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 794)
INSERT [PROJECT].[ITEM_PAPEL_AUTOR] ([COD_ITEM_PAPEL], [COD_AUTOR]) VALUES (103433106, 201046426)
INSERT [PROJECT].[ITEM_PAPEL_AUTOR] ([COD_ITEM_PAPEL], [COD_AUTOR]) VALUES (138621256, 260902387)
INSERT [PROJECT].[ITEM_PAPEL_AUTOR] ([COD_ITEM_PAPEL], [COD_AUTOR]) VALUES (148179869, 918298736)
INSERT [PROJECT].[LEITOR] ([COD_LEITOR], [ID_PESSOA], [USERNAME], [PASS], [DATA_EXPIRO], [DATA_REGISTO], [COD_BIB]) VALUES (116676296, 895663527, N'lmorenow', N'NMzdg9VvS9uS', CAST(0x2F3C0B00 AS Date), CAST(0x60DE0A00 AS Date), 489839364)
INSERT [PROJECT].[LEITOR] ([COD_LEITOR], [ID_PESSOA], [USERNAME], [PASS], [DATA_EXPIRO], [DATA_REGISTO], [COD_BIB]) VALUES (124468179, 761979844, N'kbanks17', N'SoNhHMB', CAST(0xD93B0B00 AS Date), CAST(0x41A60A00 AS Date), 489839364)
INSERT [PROJECT].[LEITOR] ([COD_LEITOR], [ID_PESSOA], [USERNAME], [PASS], [DATA_EXPIRO], [DATA_REGISTO], [COD_BIB]) VALUES (154013758, 841679860, N'gstanleya', N'BbzlRgR', CAST(0xFD3B0B00 AS Date), CAST(0xF1520A00 AS Date), 459567487)
INSERT [PROJECT].[PESSOA] ([ID_PESSOA], [PRIMEIRO_NOME], [ULTIMO_NOME], [MORADA], [GENERO], [DATA_NASC], [TLM], [CC], [NIF]) VALUES (105336450, N'Diane', N'Wright', N'73 Bashford Pass', N'F', CAST(0x5BDD0A00 AS Date), 265689753, 870139049, 867850491)
INSERT [PROJECT].[PESSOA] ([ID_PESSOA], [PRIMEIRO_NOME], [ULTIMO_NOME], [MORADA], [GENERO], [DATA_NASC], [TLM], [CC], [NIF]) VALUES (112754140, N'Sara', N'Harris', N'449 Southridge Crossing', N'F', CAST(0xBF160B00 AS Date), 814775031, 621790527, 923748879)
INSERT [PROJECT].[PESSOA] ([ID_PESSOA], [PRIMEIRO_NOME], [ULTIMO_NOME], [MORADA], [GENERO], [DATA_NASC], [TLM], [CC], [NIF]) VALUES (116676511, N'Jessica', N'Price', N'510 Bonner Crossing', N'F', CAST(0x0D150B00 AS Date), 673484059, 266073658, 551766893)
GO
INSERT [PROJECT].[REQUISICAO_ITEM_ELECT] ([COD_REQUISICAO], [COD_ITEM_ELECT], [COD_LEITOR], [MARCACAO], [DURACAO], [INICIO]) VALUES (101858355, 117548760, 809959621, CAST(0xAB500B00 AS Date), 36, CAST(0x07009E7F478B0000 AS Time))
INSERT [PROJECT].[REQUISICAO_ITEM_ELECT] ([COD_REQUISICAO], [COD_ITEM_ELECT], [COD_LEITOR], [MARCACAO], [DURACAO], [INICIO]) VALUES (114401327, 372482218, 665407084, CAST(0x24410B00 AS Date), 56, CAST(0x07000C2A82740000 AS Time))
INSERT [PROJECT].[REQUISICAO_ITEM_ELECT] ([COD_REQUISICAO], [COD_ITEM_ELECT], [COD_LEITOR], [MARCACAO], [DURACAO], [INICIO]) VALUES (121421215, 593999042, 948625606, CAST(0x13490B00 AS Date), 13, CAST(0x0700CEF6837A0000 AS Time))
INSERT [PROJECT].[REQUISICAO_ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_LEITOR], [COD_REQUISICAO], [DATA_REQUISICAO], [DT_EN_REAL], [DT_EN_PREVISTA], [MULTA]) VALUES (249491701, 608686896, 111832679, CAST(0xDE3C0B00 AS Date), CAST(0x573D0B00 AS Date), CAST(0x5D3D0B00 AS Date), CAST(0.00 AS Decimal(5, 2)))
INSERT [PROJECT].[REQUISICAO_ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_LEITOR], [COD_REQUISICAO], [DATA_REQUISICAO], [DT_EN_REAL], [DT_EN_PREVISTA], [MULTA]) VALUES (103433106, 232076691, 116333630, CAST(0xF43C0B00 AS Date), CAST(0x293D0B00 AS Date), CAST(0x213D0B00 AS Date), CAST(2.00 AS Decimal(5, 2)))
INSERT [PROJECT].[REQUISICAO_ITEM_PAPEL] ([COD_ITEM_PAPEL], [COD_LEITOR], [COD_REQUISICAO], [DATA_REQUISICAO], [DT_EN_REAL], [DT_EN_PREVISTA], [MULTA]) VALUES (384315964, 759695863, 116915680, CAST(0x4F3D0B00 AS Date), CAST(0x683D0B00 AS Date), CAST(0x7B3D0B00 AS Date), CAST(0.00 AS Decimal(5, 2)))
INSERT [PROJECT].[TIPO] ([COD_TIPO], [TIPO]) VALUES (109613135, N'Atlas')
INSERT [PROJECT].[TIPO] ([COD_TIPO], [TIPO]) VALUES (120795219, N'Mapa')
INSERT [PROJECT].[TIPO] ([COD_TIPO], [TIPO]) VALUES (137127978, N'Computador')
ALTER TABLE [PROJECT].[EDITORA] ADD  DEFAULT ('UNKNOWN') FOR [ENDERECO]
GO
ALTER TABLE [PROJECT].[FABRICANTE] ADD  DEFAULT ('UNKNOWN') FOR [ENDERECO]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] ADD  DEFAULT ('UNKNOWN') FOR [DIMENSOES]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] ADD  DEFAULT ('NO DESCRIPTION') FOR [DESCRICAO]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT] ADD  DEFAULT ('01/01/0000') FOR [MARCACAO]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT] ADD  DEFAULT ('0') FOR [DURACAO]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT] ADD  DEFAULT ('00:00:00') FOR [INICIO]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL] ADD  DEFAULT ('01/01/0000') FOR [DATA_REQUISICAO]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL] ADD  DEFAULT ('01/01/0000') FOR [DT_EN_REAL]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL] ADD  DEFAULT ('01/01/0000') FOR [DT_EN_PREVISTA]
GO
ALTER TABLE [PROJECT].[AUTOR]  WITH CHECK ADD  CONSTRAINT [FKAUTOR] FOREIGN KEY([ID_PESSOA])
REFERENCES [PROJECT].[PESSOA] ([ID_PESSOA])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[AUTOR] CHECK CONSTRAINT [FKAUTOR]
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD  CONSTRAINT [FKBIBLIOTECARIO_COD_BIB] FOREIGN KEY([COD_BIB])
REFERENCES [PROJECT].[BIBLIOTECA] ([COD_BIB])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO] CHECK CONSTRAINT [FKBIBLIOTECARIO_COD_BIB]
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD  CONSTRAINT [FKBIBLIOTECARIO_ID_PESSOA] FOREIGN KEY([ID_PESSOA])
REFERENCES [PROJECT].[PESSOA] ([ID_PESSOA])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO] CHECK CONSTRAINT [FKBIBLIOTECARIO_ID_PESSOA]
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD  CONSTRAINT [FKITEM_ELECT_COD_BIB] FOREIGN KEY([COD_BIB])
REFERENCES [PROJECT].[BIBLIOTECA] ([COD_BIB])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA] CHECK CONSTRAINT [FKITEM_ELECT_COD_BIB]
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD  CONSTRAINT [FKITEM_ELECT_COD_FABRICANTE] FOREIGN KEY([COD_FABRICANTE])
REFERENCES [PROJECT].[FABRICANTE] ([COD_FABRICANTE])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA] CHECK CONSTRAINT [FKITEM_ELECT_COD_FABRICANTE]
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD  CONSTRAINT [FKITEM_ELECT_COD_TIPO] FOREIGN KEY([COD_TIPO])
REFERENCES [PROJECT].[TIPO] ([COD_TIPO])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA] CHECK CONSTRAINT [FKITEM_ELECT_COD_TIPO]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_COD_BIB] FOREIGN KEY([COD_BIB])
REFERENCES [PROJECT].[BIBLIOTECA] ([COD_BIB])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] CHECK CONSTRAINT [FKITEM_PAPEL_COD_BIB]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_COD_CATEGORIA] FOREIGN KEY([COD_CATEGORIA])
REFERENCES [PROJECT].[CATEGORIA] ([COD_CATEGORIA])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] CHECK CONSTRAINT [FKITEM_PAPEL_COD_CATEGORIA]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_COD_EDITORA] FOREIGN KEY([COD_EDITORA])
REFERENCES [PROJECT].[EDITORA] ([COD_EDITORA])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] CHECK CONSTRAINT [FKITEM_PAPEL_COD_EDITORA]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_COD_TIPO] FOREIGN KEY([COD_TIPO])
REFERENCES [PROJECT].[TIPO] ([COD_TIPO])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL] CHECK CONSTRAINT [FKITEM_PAPEL_COD_TIPO]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_AUTOR_AUTOR] FOREIGN KEY([COD_AUTOR])
REFERENCES [PROJECT].[AUTOR] ([COD_AUTOR])
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR] CHECK CONSTRAINT [FKITEM_PAPEL_AUTOR_AUTOR]
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR]  WITH CHECK ADD  CONSTRAINT [FKITEM_PAPEL_AUTOR_ITEM] FOREIGN KEY([COD_ITEM_PAPEL])
REFERENCES [PROJECT].[ITEM_PAPEL] ([COD_ITEM_PAPEL])
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR] CHECK CONSTRAINT [FKITEM_PAPEL_AUTOR_ITEM]
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD  CONSTRAINT [FKLEITOR_ID_PESSOA] FOREIGN KEY([ID_PESSOA])
REFERENCES [PROJECT].[PESSOA] ([ID_PESSOA])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[LEITOR] CHECK CONSTRAINT [FKLEITOR_ID_PESSOA]
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD  CONSTRAINT [PKLEITOR_COD_BIB] FOREIGN KEY([COD_BIB])
REFERENCES [PROJECT].[BIBLIOTECA] ([COD_BIB])
ON DELETE SET NULL
GO
ALTER TABLE [PROJECT].[LEITOR] CHECK CONSTRAINT [PKLEITOR_COD_BIB]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT]  WITH CHECK ADD  CONSTRAINT [FKREQUISICAO_ITEM_ELECT_COD_ITEM_ELECT] FOREIGN KEY([COD_ITEM_ELECT])
REFERENCES [PROJECT].[ITEM_ELECTRONICA] ([COD_ITEM_ELECT])
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT] CHECK CONSTRAINT [FKREQUISICAO_ITEM_ELECT_COD_ITEM_ELECT]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT]  WITH CHECK ADD  CONSTRAINT [FKREQUISICAO_ITEM_ELECT_COD_LEITOR] FOREIGN KEY([COD_LEITOR])
REFERENCES [PROJECT].[LEITOR] ([COD_LEITOR])
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT] CHECK CONSTRAINT [FKREQUISICAO_ITEM_ELECT_COD_LEITOR]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKREQUISICAO_ITEM_PAPEL_COD_ITEM_PAPEL] FOREIGN KEY([COD_ITEM_PAPEL])
REFERENCES [PROJECT].[ITEM_PAPEL] ([COD_ITEM_PAPEL])
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL] CHECK CONSTRAINT [FKREQUISICAO_ITEM_PAPEL_COD_ITEM_PAPEL]
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD  CONSTRAINT [FKREQUISICAO_ITEM_PAPEL_COD_LEITOR] FOREIGN KEY([COD_LEITOR])
REFERENCES [PROJECT].[LEITOR] ([COD_LEITOR])
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL] CHECK CONSTRAINT [FKREQUISICAO_ITEM_PAPEL_COD_LEITOR]
GO
ALTER TABLE [PROJECT].[AUTOR]  WITH CHECK ADD CHECK  (([COD_AUTOR] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[AUTOR]  WITH CHECK ADD CHECK  (([ID_PESSOA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[BIBLIOTECA]  WITH CHECK ADD CHECK  (([COD_BIB] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD CHECK  (([COD_BIBLIOTECARIO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD CHECK  (([COD_BIB] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD CHECK  (([ID_PESSOA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[BIBLIOTECARIO]  WITH CHECK ADD CHECK  (([SALARY]<(2000)))
GO
ALTER TABLE [PROJECT].[CATEGORIA]  WITH CHECK ADD CHECK  (([COD_CATEGORIA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[EDITORA]  WITH CHECK ADD CHECK  (([COD_EDITORA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[EDITORA]  WITH CHECK ADD CHECK  (([TELEFONE] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[FABRICANTE]  WITH CHECK ADD CHECK  (([COD_FABRICANTE] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[FABRICANTE]  WITH CHECK ADD CHECK  (([TELEFONE] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD CHECK  (([COD_BIB] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD CHECK  (([COD_FABRICANTE] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD CHECK  (([COD_ITEM_ELECT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_ELECTRONICA]  WITH CHECK ADD CHECK  (([COD_TIPO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([CLASSIFICACAO]<(11)))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_BIB] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_CATEGORIA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_EDITORA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_ITEM_PAPEL] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_TIPO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([EDICAO] like '[0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([PERMISSAO]=(0) OR [PERMISSAO]=(1)))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL]  WITH CHECK ADD CHECK  (([VOLUME] like '[0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR]  WITH CHECK ADD CHECK  (([COD_AUTOR] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[ITEM_PAPEL_AUTOR]  WITH CHECK ADD CHECK  (([COD_ITEM_PAPEL] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD CHECK  (([DATA_REGISTO]<[DATA_EXPIRO]))
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD CHECK  (([COD_BIB] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD CHECK  (([COD_LEITOR] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[LEITOR]  WITH CHECK ADD CHECK  (([ID_PESSOA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[PESSOA]  WITH CHECK ADD CHECK  (([CC] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[PESSOA]  WITH CHECK ADD CHECK  (([GENERO]='F' OR [GENERO]='M'))
GO
ALTER TABLE [PROJECT].[PESSOA]  WITH CHECK ADD CHECK  (([ID_PESSOA] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[PESSOA]  WITH CHECK ADD CHECK  (([NIF] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT]  WITH CHECK ADD CHECK  (([COD_ITEM_ELECT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT]  WITH CHECK ADD CHECK  (([COD_LEITOR] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_ELECT]  WITH CHECK ADD CHECK  (([COD_REQUISICAO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_ITEM_PAPEL] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_LEITOR] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD CHECK  (([COD_REQUISICAO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [PROJECT].[REQUISICAO_ITEM_PAPEL]  WITH CHECK ADD CHECK  (([MULTA]<(200)))
GO
ALTER TABLE [PROJECT].[TIPO]  WITH CHECK ADD CHECK  (([COD_TIPO] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
/****** Object:  Trigger [PROJECT].[DELETEAUTOR]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[DELETEAUTOR] ON [PROJECT].[AUTOR]
INSTEAD OF DELETE
AS
BEGIN
	DELETE FROM PROJECT.ITEM_PAPEL_AUTOR WHERE COD_AUTOR = (SELECT COD_AUTOR FROM deleted);
	DELETE FROM PROJECT.AUTOR WHERE COD_AUTOR = (SELECT COD_AUTOR FROM deleted);
END

GO
/****** Object:  Trigger [PROJECT].[DELETE_ITEM_ELECT]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[DELETE_ITEM_ELECT] ON [PROJECT].[ITEM_ELECTRONICA]
INSTEAD OF DELETE
AS
BEGIN
	DELETE FROM PROJECT.REQUISICAO_ITEM_ELECT WHERE COD_ITEM_ELECT = (SELECT COD_ITEM_ELECT FROM deleted);
	DELETE FROM PROJECT.ITEM_ELECTRONICA WHERE COD_ITEM_ELECT = (SELECT COD_ITEM_ELECT FROM deleted);
END

GO
/****** Object:  Trigger [PROJECT].[DELETEITEMPAPEL]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[DELETEITEMPAPEL] ON   [PROJECT].[ITEM_PAPEL]
INSTEAD OF DELETE
AS
BEGIN
	DELETE FROM PROJECT.ITEM_PAPEL_AUTOR WHERE COD_ITEM_PAPEL = (SELECT COD_ITEM_PAPEL FROM deleted);
	DELETE FROM PROJECT.REQUISICAO_ITEM_PAPEL WHERE COD_ITEM_PAPEL=(SELECT COD_ITEM_PAPEL FROM deleted);
	DELETE FROM PROJECT.ITEM_PAPEL WHERE COD_ITEM_PAPEL = (SELECT COD_ITEM_PAPEL FROM deleted);
END

GO
/****** Object:  Trigger [PROJECT].[DELETELEITOR]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[DELETELEITOR] ON [PROJECT].[LEITOR]
INSTEAD OF DELETE
AS
BEGIN
	DELETE FROM PROJECT.REQUISICAO_ITEM_ELECT where COD_LEITOR = (SELECT COD_LEITOR FROM deleted);
	DELETE FROM PROJECT.REQUISICAO_ITEM_PAPEL where COD_LEITOR = (SELECT COD_LEITOR FROM deleted);
	DELETE FROM PROJECT.LEITOR WHERE COD_LEITOR = (SELECT COD_LEITOR FROM deleted);
END

GO
/****** Object:  Trigger [PROJECT].[MARCACAO_ON_REQ_ITEM_ELECT]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[MARCACAO_ON_REQ_ITEM_ELECT] ON [PROJECT].[REQUISICAO_ITEM_ELECT]
INSTEAD OF INSERT, UPDATE
AS
BEGIN
	DECLARE @DOM VARCHAR(10)
	DECLARE @DATE DATE
	DECLARE @DURACAO INTEGER
	DECLARE @INICIO TIME
	DECLARE @FREETIME INTEGER
	DECLARE @BEGINS TIME = '10:00:00'
	DECLARE @ENDF TIME = '19:00:00'
	DECLARE @ENDS TIME = '13:00:00'
	DECLARE @ACTUAL_DATE DATE
	DECLARE @action as char(1);
	DECLARE @CIE INT
	DECLARE @CL INT
	DECLARE @CR INT 
	SELECT @DATE=MARCACAO, @DURACAO=DURACAO, @INICIO=INICIO, @CIE=COD_ITEM_ELECT, @CL=COD_LEITOR, @CR=COD_REQUISICAO FROM inserted
	SET @DOM = PROJECT.GETDOM(@DATE)
	SET @ACTUAL_DATE = GETDATE()

	SET @action = 'I'; 
	IF EXISTS(SELECT * FROM DELETED)
	BEGIN
		SET @action=
			CASE
				WHEN EXISTS(SELECT * FROM INSERTED) THEN 'U'
				ELSE 'D'
			END
	END

	IF @DATE < @ACTUAL_DATE
		BEGIN
			RAISERROR('Data inválida! Tem de inserir uma data igual ou superior à data atual!',16,1);
			RETURN;
		END
	ELSE
		IF @DOM = 'Monday' OR @DOM = 'Tuesday' OR @DOM = 'Wednesday' OR @DOM = 'Thursday' OR @DOM = 'Friday'
		BEGIN
			IF @INICIO >= @BEGINS AND @INICIO <= @ENDF
				BEGIN
					SET @FREETIME = (SELECT DATEDIFF(MI, @INICIO, @ENDF))
					IF @DURACAO <= @FREETIME
						IF @action='I'
							INSERT INTO PROJECT.REQUISICAO_ITEM_ELECT SELECT * FROM inserted;
						ELSE
							UPDATE PROJECT.REQUISICAO_ITEM_ELECT SET COD_ITEM_ELECT=@CIE, COD_LEITOR=@CL,MARCACAO=@DATE,DURACAO=@DURACAO,INICIO=@INICIO	WHERE COD_REQUISICAO=@CR
					ELSE
						RAISERROR('A duração da marcação tem que ser compatível com o horário da biblioteca!',16,1);	
				END
			ELSE
				RAISERROR('O inicio da marcação tem que ser compatível com o horário da biblioteca!',16,1);		
		END 
		IF @DOM = 'Saturday'
			BEGIN
				IF @INICIO >= @BEGINS AND @INICIO <= @ENDS
					BEGIN
						SET @FREETIME = (SELECT DATEDIFF(MI, @INICIO, @ENDS))
						IF @DURACAO <= @FREETIME
							IF @action='I'
								INSERT INTO PROJECT.REQUISICAO_ITEM_ELECT SELECT * FROM inserted;
							ELSE
								UPDATE PROJECT.REQUISICAO_ITEM_ELECT SET COD_ITEM_ELECT=@CIE, COD_LEITOR=@CL,MARCACAO=@DATE,DURACAO=@DURACAO,INICIO=@INICIO	WHERE COD_REQUISICAO=@CR
						ELSE
							RAISERROR('A duração da marcação tem que ser compatível com o horário da biblioteca!',16,1);
					END
				ELSE
					RAISERROR('O inicio da marcação tem que ser compatível com o horário da biblioteca!',16,1);		
			END 
		IF @DOM='Sunday'
			BEGIN
				RAISERROR('O horário da biblioteca é de Segunda a Sábado. Por favor escolha outro dia da semana!',16,1);
			END
END

GO
/****** Object:  Trigger [PROJECT].[update_RIP]    Script Date: 08/06/2016 01:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [PROJECT].[update_RIP] ON [PROJECT].[REQUISICAO_ITEM_PAPEL]
INSTEAD OF INSERT, UPDATE
AS
BEGIN
	DECLARE @DATA_PREV DATE;
	DECLARE @DATA_REAL DATE;
	DECLARE @DATA_DIF INT;
	DECLARE @DATA_REQ DATE;
	DECLARE @DATA_RR INT;
	DECLARE @DATA_RP INT;
	DECLARE @MULTA DECIMAL(5,2);
	DECLARE @COD_REQ INT;
	DECLARE @COD_IP INT;
	DECLARE @COD_L INT;
	DECLARE @action AS char(1);
	DECLARE @PERMISSION AS BIT;
	DECLARE @DATA_ATUAL AS DATE;
	SELECT  @COD_REQ=COD_REQUISICAO, @COD_IP=COD_ITEM_PAPEL, @COD_L=COD_LEITOR, @DATA_REQ=DATA_REQUISICAO, @DATA_PREV= DT_EN_PREVISTA , @DATA_REAL= DT_EN_REAL, @MULTA=MULTA FROM inserted;
	
	

	SET @DATA_RR= (SELECT DATEDIFF(day, @DATA_REAL, @DATA_REQ))
	SET @DATA_RP= (SELECT DATEDIFF(day, @DATA_PREV, @DATA_REQ))
	SET @DATA_DIF=(SELECT DATEDIFF(day, @DATA_PREV, @DATA_REAL))
	SET @PERMISSION = PROJECT.GETPERMISSION(@COD_IP)
	SET @DATA_ATUAL = GETDATE()
	SET @action = 'I'; 
	IF EXISTS(SELECT * FROM DELETED)
	BEGIN
		SET @action=
			CASE
				WHEN EXISTS(SELECT * FROM INSERTED) THEN 'U'
				ELSE 'D'
			END
	END

	IF @PERMISSION=0
		BEGIN 
			RAISERROR('O item de papel selecionado não tem permissão de requisição!',16,1);
			RETURN;
		END

	IF @DATA_REQ < @DATA_ATUAL
		BEGIN
			RAISERROR('Data inválida! Tem de inserir uma data igual ou superior à data atual!',16,1);
			RETURN;
		END

	IF @DATA_RR >0
		BEGIN
			RAISERROR('A data da requisição tem que ser uma data mais recente do que a data de entrega do item!',16,1);
			RETURN;
		END
	
	IF @DATA_RP >0
		BEGIN
			RAISERROR('A data da requisição tem que ser uma data mais recente do que a data prevista de entrega do item!',16,1);
			RETURN;	
		END
	

	if @DATA_DIF>0
		BEGIN
			IF @action='I'
				BEGIN
					SET @MULTA= ABS(@DATA_DIF)*0.25;
					INSERT INTO PROJECT.REQUISICAO_ITEM_PAPEL (COD_REQUISICAO, COD_ITEM_PAPEL, COD_LEITOR, DATA_REQUISICAO, DT_EN_REAL, DT_EN_PREVISTA, MULTA) VALUES (@COD_REQ, @COD_IP, @COD_L, @DATA_REQ, @DATA_REAL,@DATA_PREV, @MULTA); 
				END
			ELSE
				BEGIN
					SET @MULTA= ABS(@DATA_DIF)*0.25;
					UPDATE PROJECT.REQUISICAO_ITEM_PAPEL SET COD_ITEM_PAPEL= @COD_IP, COD_LEITOR= @COD_L, DATA_REQUISICAO=@DATA_REQ, DT_EN_REAL=@DATA_REAL, DT_EN_PREVISTA=@DATA_PREV, MULTA=@MULTA WHERE PROJECT.REQUISICAO_ITEM_PAPEL.COD_REQUISICAO=@COD_REQ;
				END
		END
	ELSE
		BEGIN 
			IF @action='I'
				BEGIN
					SET @MULTA=0;
					INSERT INTO PROJECT.REQUISICAO_ITEM_PAPEL (COD_REQUISICAO, COD_ITEM_PAPEL, COD_LEITOR, DATA_REQUISICAO, DT_EN_REAL, DT_EN_PREVISTA, MULTA) VALUES (@COD_REQ, @COD_IP, @COD_L, @DATA_REQ, @DATA_REAL,@DATA_PREV, @MULTA);
				END
			ELSE
				BEGIN
					SET @MULTA= 0
					UPDATE PROJECT.REQUISICAO_ITEM_PAPEL SET COD_ITEM_PAPEL= @COD_IP, COD_LEITOR= @COD_L, DATA_REQUISICAO=@DATA_REQ, DT_EN_REAL=@DATA_REAL, DT_EN_PREVISTA=@DATA_PREV, MULTA=@MULTA WHERE PROJECT.REQUISICAO_ITEM_PAPEL.COD_REQUISICAO=@COD_REQ;
				END
		END
END

GO
USE [master]
GO
